body {
    font-family: sans-serif;
  }

.container {
    background-image: url('Images/blue.png');
    background-size: cover;
    background-position: center;
}

  
a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
  
  .nav {
    position: fixed;
  }
  
  .text-overlay {
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  .text-overlay h1 {
    font-size: 150px;
  }
  
  .text-overlay p {
    font-size: 16px;
    text-align: center;
  }

  
  .line {
    height: 1px; /* Specify the height of the line */
    background-color: white; /* Specify the color of the line */
  }
  
 
  .profile-container {
    border-left: solid;
  }

  .head-one{
    font-size: 40px;
  }
  
  .post-title {
    margin-top: 0;
  }

  .post-meta {
    font-size: 14px;
  }


  .read-more {
    text-decoration: none;

  }




  .container2 {
    background-color: #f0f0f0; /* Background color of the navigation bar container */
  }
  
  nav {
    padding: 10px; /* Spacing within the navigation bar */
  }
  
  .nav2 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav2 li {
    margin-right: 10px; /* Spacing between navigation items */
  }
  
  .nav2 li a {
    text-decoration: none;
    color: #333; /* Text color of navigation items */
    padding: 10px; /* Spacing within each navigation item */
  }
  
  .nav2 li a:hover {
    background-color: #ddd; /* Background color on hover */
    color: #000; /* Text color on hover */
  }
  

