/*extra style*/
.container {
    background-image: url('Images/blue.png');
    background-size: cover;
    background-position: center;
}

 /*navbar for main page*/ 
a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
  
  .nav {
    position: fixed;
  }
  
  /*Header*/

  .text-overlay {
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  .text-overlay h1 {
    font-size: 150px;
  }
  
  .text-overlay p {
    font-size: 16px;
    text-align: center;
  }

  .line {
    height: 1px; 
    background-color: white; 
  }
  
 /*Profile*/

  .profile-container {
    border-left: solid;
  }

  .head-one{
    font-size: 40px;
  }
  
  /*Post*/
  .post-title {
    margin-top: 0;
  }

  .post-meta {
    font-size: 14px;
  }


  .read-more {
    text-decoration: none;

  }

  /*nav for blog post own page*/
  ul.nav-project li a {
    text-decoration: none;

  }


