* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header and navbar for main page*/
.container {
  min-height: 100vh;
  width: 100%;
}

li {
  padding: 10px;
  align-items: center;
}

.nav {
  gap: 3rem;
  width: 100%;
  padding: 20px;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  padding: 20px;
}

.text-overlay h1 {
  margin-bottom: 10px;
}

.text-overlay p {
  margin-bottom: 0;
}

.line {
  border: none;
  border-top: 2px solid;
  margin: 10px 0;
  width: 100%;
  color: white;
  height: 5px;

}

/*Profile This is le*/

.profile p {
  padding: 30px;
}

#Me {
  padding-left: 150px;
  padding-top: 10%;
}

.profile img {
  width: 90%;
  height: 120%;
}

.profile-container {
  padding: 50px;
}

/*Blog post on main page*/

.blog-container {
  gap: 20px;
}

.blog-post {
  padding: 20px;
  border-top: 2px solid;
}

.blog-post img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
  padding: 20px;
}

.blog-content {
  margin-top: 10px;
  padding: 20px;
}

.read-more {
  margin-top: 10px;
  padding: 8px 10px;
}

/*footer and bronvermelding*/

footer {
  padding: 3px;
  background-color: black;
  color: white;
}


.head-one {
  padding: 20px;
}

.img-blog {
  padding: 20px;
  height: 20%;
  width: auto;

}

.profile-container {
  padding: 50px;
}


.profile-text {
  padding: 50px;
}

.profile img {
  height: 100%;
  margin-left: 50px;
  max-width: 400px;
  margin-bottom: 20px;
}

main {
  padding: 20px;
}

.blog-post7 {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

#photo-project {
  padding: 20px;
  height: 500px;
}
.photo-project{
  height: 20px;
}

.post-title {
  margin-top: 0;
}

.post-content-project {
  margin-top: 10px;
}

.read-more {
  padding: 5px 10px;
  margin-top: 10px;
}

.project {
  padding-top: 15%;
}