/*All responsive for my website*/

/*Nabar of main page*/
.nav {
  display: flex;
  text-align: center;
}

li {
  align-items: center;
}

.text-overlay {
  align-items: center;
}

/*Profile*/

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
}

.profile-text {
  text-align: justify;
}

/*blog post*/
.blog-container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
}

.blog-post {
  text-align: center;

}

.read-more {
  display: inline-block;
  text-align: left;
}

.post-content2 {
  align-items: center;

}

.blog-post-project {
  align-items: center;
}

/*footer*/

footer {
  text-align: center;

}

/*nav blog own page*/

ul.nav-project li {
  display: inline-block;
}

/*media query*/

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile {
    flex-direction: row;
  }

  .profile-text {
    flex-grow: 1;
    padding: 50px;
    margin: 0;
  }

  .profile img {
    margin: 0;
  }

  .blog-container {
    grid-template-columns: 1fr 1fr;
  }

  .blog-post {
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  .blog-post img {
    width: auto;
    max-height: 200px;
    margin: 0 20px 0 0;
    order: 2;
  }

  .blog-content {
    flex: 1;
  }

}

/* Media query for desktop styling for blog posts and project page */
@media (min-width: 768px) {
  .container-project {
    display: flex;
    justify-content: center;
  }

  nav {
    top: 0;
    left: 0;
    width: 100%;
  }

  .blog-post-project {
    width: 768px;
    margin-top: 60px;
  }

  .photo-project {
    height: 700px;
    align-items: center;
  }

  #photo-project-2{
    height: 500px;
  }

}